.bg--green {
  background-color: #3E9723;
}

.btn--green {
  background-color: #3E9723;
  color: #fff;
}

.btn--green:hover,
.btn--green:focus {
  background-color: #36821e;
  color: #fff;
}

.btn--green:active {
  background-color: #47ac28;
  color: #fff;
}

.bg--pink {
  background-color: #ED1566;
}

.btn--pink {
  background-color: #ED1566;
  color: #fff;
}

.btn--pink:hover,
.btn--pink:focus {
  background-color: #d8115b;
  color: #fff;
}

.btn--pink:active {
  background-color: #ef2d75;
  color: #fff;
}

.bg--blue {
  background-color: #01C9F1;
}

.btn--blue {
  background-color: #01C9F1;
  color: #fff;
}

.btn--blue:hover,
.btn--blue:focus {
  background-color: #01b4d8;
  color: #fff;
}

.btn--blue:active {
  background-color: #0ed6fe;
  color: #fff;
}

.bg--yellow {
  background-color: #F1CC01;
}

.btn--yellow {
  background-color: #F1CC01;
  color: #fff;
}

.btn--yellow:hover,
.btn--yellow:focus {
  background-color: #d8b701;
  color: #fff;
}

.btn--yellow:active {
  background-color: #fed90e;
  color: #fff;
}

.bg--brown {
  background-color: #5E3C17;
}

.btn--brown {
  background-color: #5E3C17;
  color: #fff;
}

.btn--brown:hover,
.btn--brown:focus {
  background-color: #4a2f12;
  color: #fff;
}

.btn--brown:active {
  background-color: #72491c;
  color: #fff;
}

.right-0 {
  right: 0;
}

.header {
  min-height: 18.75rem;
}

.card .card-header .main-title {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 1.75rem;
  color: #ED1566;
}

.card .card-body .secondary-title {
  font-size: 1.5rem;
}

.card .card-body .sub-title {
  font-size: 1rem;
  color: #757575;
}

.card .card-footer h2 {
  font-size: 1.5rem;
  Color: brown;
  float: right !important;
  padding: 15px 15px !important;
}



@media (min-width: 768px) {
  .main-content .container-fluid {
    padding: 0 15px !important;
  }
}

.header {
  min-height: 10rem;
}

