
@import '../_variables';

body {
    height: calc(100vh - 74.22px);
}

.error-404 {
    height: 100%;
    background-image: url('/img/learning-programming.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
        margin-top: 10rem;
    }

    &__title {
        font-family: "Fredericka the Great", sans-serif;
        font-size: 5rem;
        color: $ciz-yellow;
    }

    &__description {
        font-size: 1.125rem;
    }
}
