@import '../_variables';
@import '../mixin';
@import '../vendor/bootstrap/mixins/breakpoints';

@each $color, $value in $theme-colors {
    .bg--#{$color} {
        background-color: $value;
    }

    @include button(".btn--#{$color}", $value);
}

.right-0 {
    right: 0;
}

.header {
    min-height: 18.75rem;
}

.card {
    .card-header {
        .main-title {
            font-family: "Fredericka the Great", sans-serif;
            font-size: 1.75rem;
            color: $ciz-pink;
        }
    }

    .card-body {
        .secondary-title {
            font-size: 1.5rem;
        }

        .sub-title {
            font-size: 1rem;
            color: #757575;
        }
    }
}

@include media-breakpoint-up(md) {
    .main-content {
        .container-fluid {
            padding: 0 15px !important;
        }
    }
}

@include media-breakpoint-up(xs) {
    .header {
        min-height: 10rem;
    }
}
