@mixin button($modifier, $color) {
    #{$modifier} {
        background-color: $color;
        color: #fff;

        &:hover,
        &:focus {
            background-color: darken($color, 5%);
            color: #fff;
        }

        &:active {
            background-color: lighten($color, 5%);
            color: #fff;
        }
    }
}
